body
{
  padding: 0;
  margin: 0;
  overflow-y: scroll;
  font-family: Arial;
  font-size: 18px;
}

@media all and (max-height: 650px)
{
  .ellsworthimg {display: none;}
}
@media all and (max-width: 1100px)
{
  .ellsworthimg {display: none;}
}
@media all and (max-width: 1300px)
{
  .ellsworthimg {display: none;}
}

#nav
{
  background-color: #00533E;
}

#nav_wrapper
{
  width: 960px;
  margin: 0 auto;
  text-align: center;
}

#nav ul
{
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: relative;
}

#nav li
{
  display: inline-block;
}

#nav ul li:hover
{
  background-color: #00533E;
}

#nav ul li a:hover
{
  color: white;
}

#nav ul li a,visited
{
  color: #ccc;
  display: block;
  padding: 15px;
  text-decoration: none;
}

#nav ul li a :hover
{
  color: #ccc;
  text-decoration: none;
}

#nav ul li:hover ul
{
  display: block;
}

#nav ul ul
{
  display: none;
  position: absolute;
  border: 5px solid #00533E;
  border-top: 0;
  margin-left: -5px;

}

#nav ul ul li
{
  display: block;
  background-color: #00533E;
}

#nav ul ul li a,visited
{
  color: #ccc;
}

#nav ul ul li a:hover
{
  color: white;
}


/*
#loginform_wrapper
{
  width: 960px;
  margin: 0 auto;
  text-align: center;
}
*/
#login{
  height: 300px;
  width: 300px;
  /*
  top:5%;
  left: 5%;
  bottom: 5%;
  */
  background: white;
  box-shadow: 5px 5px 5px #bdbdbd/*#b6aeae*/;
}
#login:hover{
  transition-duration: .1s;
  transition-timing-function: ease-in-out;
  box-shadow: 4px 4px 5px grey;
}


.innerTable
{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  /*
	position: absolute;
	width: 100%;
	height: 60%;*/
}

#signoutButton
{
  position: fixed;
  bottom: 0px;
  right: 10px;
}

#otherButtons
{
  display:inline-block;
}

#studentButton
{
  float: left;
}

#coachButton
{
  float: right;
}

#stBtn, #cchBtn
{
  width: 100px;
  height: 100px;
}
